<div class="w-full pt-16 md:pt-0">
    <div class="w-full h-48 absolute" style="background: url(<%= activityData[0].thumbs[0].replace('public/','/')  %>) 0 center no-repeat;background-size:cover;filter:grayscale(100%);" ></div>
    <div class="activity-details-view" style="backdrop-filter: blur(10px);">
        <figure class="md:flex p-8 md:p-0">
            <img class="w-32 h-32 md:w-48 md:h-auto md:m-10 md:rounded rounded-full mx-auto shadow-lg" src="<%= activityData[0].thumbs[0].replace('public/','/')  %>" alt=""
                width="384" height="512">
            <div class="pt-6 md:p-8 text-center md:text-left space-y-4 bg-white bg-opacity-40 mt-4" >
                <blockquote>
                    <p class="text-lg font-semibold w-full capitalize">
                        <%= activityData[0].title %> (<%= activityData[0].sectors %>)
                    </p>
                </blockquote>
                <figcaption class="font-medium">
                    <div class="text-cyan-600 capitalize">
                        <%= activityData[0].description %>
                    </div>
                    <div class="flex items-center mt-2 justify-center md:justify-start">
                        <svg class="h-4 w-4 text-red-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                          </svg>
                          <div class="ml-1 capitalize text-sm text-gray-900">
                            <%= activityData[0].location %>
                          </div>
                    </div>
                </figcaption>
            </div>
        </figure>
        <!-- <%= activityData[0]._id %> -->
    </div>
    <!-- <div>
        <%= activityData[0].createTime %>
            <%= activityData[0].description %>
                <%= activityData[0].expire %>
                    <%= activityData[0].thumbs[0] %>
                        <%= activityData[0].title %>
    </div> -->
</div>