<div class="w-full pt-16">
   <div style="background: url(<%= activityData[0].thumbs[0].replace('public/','/')  %>) center center no-repeat" class="w-full h-56"></div>

   <div class="activity-details-view">
       
    <%= activityData[0]._id %>
</div>
<div>
    <%= activityData[0].createTime  %>
    <%= activityData[0].description  %>
    <%= activityData[0].expire  %>
    <%= activityData[0].thumbs[0]  %>
    <%= activityData[0].title %>
</div>

              
</div>




